<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">

    <title>Are you hungry? Order pizza!</title>
</head>
<body>
    <nav class="mx-auto container flex  items-center justify-between py-4">
        <div>
            <img src="/images/logo.png" alt="">
        </div>
        <div>
            <ul class="flex items-center">
                <li class="mx-4 capitalize"><a href="#">Menu</a></li>
                <li class="mx-4 capitalize"><a href="#">offers</a></li>
                <li class="mx-4 capitalize"><a href="#">Register</a></li>
                <li class="mx-4 capitalize"><a href="#">Login</a></li>
                <li class="mx-4 capitalize"><a href="#" class="inline-block px-4 py-2 rounded-full"><img src="/images/cart.png" alt=""></a></li>
            </ul>
        </div>
    </nav>
    <section class="hero py-16">
        <div class="container mx-auto flex items-center justify-between">
            <div >
                <h5 class="text-lg capitalize"><em>are you hungry?</em> </h5>
                <h1 class="text-5xl font-bold capitalize">don't wait !</h1>
            </div>
            <div class="w-1/2">
                <img src="/images/hero-pizza.png" alt="">
            </div>
        </div>
    </section>

    <script src="/js/app.js"></script>
</body>
</html>