body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: red;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: red;
}

.hero {
  background: #f8f8f8;
}

.btn-primary {
  background: red;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #b23301;
}

.add-btn {
  text-transform: capitalize;
  border: 2px solid red;
  padding: 5px 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.add-btn:hover {
  background-color: red;
  color: #fff;
}

.cart-page {
  background-color: #f8f8f8;
}

.col-text {
  color: red;
}

.login {
  background: #f8f8f8;
  min-height: calc(100vh - 86px);
}
.login a {
  color: red;
}
.login a:hover {
  color: #b23301;
}

a.link {
  color: red;
}

section.status {
  background: #f8f8f8;
  min-height: calc(100vh - 86px);
}

.status-box {
  padding: 60px 0 0;
}

.status-box ul {
  margin-left: 84px;
}

.status-box ul li span {
  position: relative;
  padding-left: 20px;
}

.status-box ul li span:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  background: #232323;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px #f8f8f8;
}

.status-box ul li span:before {
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.status-box ul li:nth-child(1) span:before {
  content: "\f46c";
}

.status-box ul li:nth-child(2) span:before {
  content: "\f560";
}

.status-box ul li:nth-child(3) span:before {
  content: "\f818";
}

.status-box ul li:nth-child(4) span:before {
  content: "\f0d1";
}

.status-box ul li:nth-child(5) span:before {
  content: "\f582";
}

.status-box ul li {
  position: relative;
}

.status-box ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: #232323;
  margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after {
  box-shadow: 0 20px 1px 20px #f8f8f8;
}

.status-box ul li.step-completed:before {
  background: #ccc;
}

.status-box ul li.step-completed span:after {
  background: #ccc;
}

.status-box ul li.step-completed span {
  color: #ccc;
}

.status-box ul li.current span {
  color: red;
}

.status-box ul li.current span:after {
  background: red;
}

.status-box ul li small {
  float: right;
  font-size: 14px;
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 396px) {
  .nav-img {
    width: 60px;
  }
}
